	<%- include('partails/head'); %>
<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
	<%- include('partails/header'); %>
    <!-- end header section -->
  </div>

  <!-- welcome section -->
  <section class="welcome_section layout_padding mt-5">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Welcome To Our Api
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
          <img src="images/welcome.png" alt=""/>
        </div>
        <div class="detail-box">
          <p>
lots of people need make easy things and time saving Here comes our role. We can save you time by entering small data and you will get a big result You can learn how to use our services <a href= "/api/docs"> Here </a>
          </p>
        </div>
      </div>

    </div>
  </section>
  <!-- end welcome section -->



  <div class="footer_bg">
    <!-- info section -->
   
		<%- include('partails/info'); %>

    <!-- end info_section -->

    <!-- footer section -->
		
		<%- include('partails/footer'); %>
    <!-- footer section -->
  </div>
	<%- include('partails/foot'); %>