	<%- include('partails/head.ejs'); %>
<body>
  <div class="hero_area">
    <!-- header section strats -->
   	<%- include('partails/header.ejs'); %>
    <!-- end header section -->
  </div>

  <!-- welcome section -->
  <section class=" mt-5 pt-3">
		<div class= "container docs-map">
			<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/api/docs/discordvirus24">Discord-Virus-24</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/api/docs/json">Json Images</a>
	</li>
			</ul>
		</div>
		
  <section class="service_section mt-5" >
		<!-- discord-virus24 start-->
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Discord-virus24
        </h2>
      </div>
      <div class="service_container layout_padding2">
       contect
			
			</div>
      <div>
        <a href="/api/docs/discordvirus24">
          Full Docs
        </a>
			</div>
    </div>
		<!-- discord-virus24 end-->

		<!-- json iamges start-->
    <div class="container mt-3">
      <div class="custom_heading-container">
        <h2>
          Json Images
        </h2>
      </div>
      <div class="service_container layout_padding2">
       contect
			
			</div>
      <div>
        <a href="/api/docs/json">
          Full Docs
        </a>
			</div>
		</div>
		<!-- json iamges end -->
  </section>

  </section>
  <!-- end welcome section -->

  <!-- end contact section -->
  <div class="footer_bg">
    <!-- info section -->

		<%- include('partails/info'); %>
    <!-- end info_section -->

    <!-- footer section -->


		<%- include('partails/footer.ejs'); %>
    <!-- footer section -->
  </div>
			
	<%- include('partails/foot.ejs'); %>