	<%- include('partails/head'); %>
<body>
  <div class="hero_area">
    <!-- header section strats -->
   	<%- include('partails/header'); %>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section mt-5">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="slider_detail-box">
                    <h1>
                      Start <br/>
                      Creating with <br/>
                      Our Api
                    </h1>
                    <p>
Its easy to use it just small input and get hug output
                    </p>
                    <div class="btn-box">
                      <a href="#services" class="btn-1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="slider_img-box">
                    <img src="imgs/slider-img.png" alt=""/>
                  </div>
                </div>
              </div>
            </div>
          </div>
					
        </div>
        <div class="carousel_btn-container">
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- welcome section -->
  <section class="welcome_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Welcome To Our Api
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
          <img src="imgs/welcome.png" alt=""/>
        </div>
        <div class="detail-box">
          <p>
lots of people need make easy things and time saving Here comes our role. We can save you time by entering small data and you will get a big result You can learn how to use our services
          </p>
          <div>
            <a href="/api/docs">
              Read More
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end welcome section -->

  <!-- service section -->

  <section class="service_section" id= "services">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Our Services
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="imgs/s-1.jpg" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              packages  <br/>
              Reuse
            </h4>
            <p>
         we will get npm packages that need to type lots of code and use it to make it easy to use for you
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="imgs/s-2.jpg" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Fun <br/>
              Images
            </h4>
            <p>
          We will give you Amazing funny images to use it without upload it to your files and give you RANDOM funny images as output 
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="imgs/s-3.jpg" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Premium <br/>
              Planes 
            </h4>
            <p>
          we will give you alot as you need to use for free and we also will make premium planes that's if you need more 
            </p>
          </div>
        </div>
      </div>
      <div>
        <a href="/premium">
          Read More
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->
  <!--problem section -->
  <section class="problem_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Do you have any problem ?
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
          <img src="imgs/problem.jpg" alt=""/>
        </div>
        <div class="detail-box">
          <p>
           You can conatct us easy with multiple ways with <span class= "text-info">Discord </span>Or By 
						<span class= "text-info" onclick= "window.location = 'kazouya25@gmail.com';">Mail Us </span> Or 
					<span class= "text-info" onclick= "window.location = '/contact';">Contact Us  </span>
						
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end problem section -->
  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Why Use This Api ?
        </h2>
      </div>
      <div class="content-container">
        <p>
We save you time by diligently saving it by creating Ready-made templates that you can call up by calling the Our Api 
        </p>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="imgs/smiley.png" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                99%
              </h3>
              <h6>
                SATISFIED CLIENTS
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="imgs/monitor.png" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                4700+
              </h3>
              <h6>
                AWESOME planing
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="imgs/multiple-users-silhouette.png" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                4500+
              </h3>
              <h6>
                CLIENTS
              </h6>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="img-box">
              <img src="imgs/bar-chart.png" alt=""/>
            </div>
            <div class="detail-box">
              <h3>
                19000+
              </h3>
              <h6>
                DAILY business
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end why section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <h2>
        What Our Members Says
      </h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_container layout_padding2">
              <div class="client_text">
                <p>
                  psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                </p>
              </div>
              <div class="detail-box">
                <div class="img-box">
                  <img src="imgs/client.png" alt=""/>
                </div>
                <div class="name">
                  <h5>
                    Joans Mark
                  </h5>
                  <p>
                    cal
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </section>
  <!-- end client section -->

  <div class="footer_bg">
    <!-- info section -->

		<%- include('partails/info'); %>
    <!-- end info_section -->

    <!-- footer section -->


		<%- include('partails/footer'); %>
    <!-- footer section -->
  </div>
	<%- include('partails/foot'); %>