	<%- include('partails/head'); %>
<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
 	<%- include('partails/header'); %>
    <!-- end header section -->
  </div>

  <!-- service section -->

  <section class="service_section mt-5" id= "services">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Our Services
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="imgs/s-1.jpg" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              packages  <br/>
              Reuse
            </h4>
            <p>
         we will get npm packages that need to type lots of code and use it to make it easy to use for you
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="imgs/s-2.jpg" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Fun <br/>
              Images
            </h4>
            <p>
          We will give you Amazing funny images to use it without upload it to your files and give you RANDOM funny images as output 
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="imgs/s-3.jpg" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Premium <br/>
              Planes 
            </h4>
            <p>
          we will give you alot as you need to use for free and we also will make premium planes that's if you need more 
            </p>
          </div>
        </div>
      </div>
      <div>
        <a href="/premium">
          Read More
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <div class="footer_bg">
    <!-- info section -->

		<%- include('partails/info'); %>
    <!-- end info_section -->
    <!-- footer section -->

		<%- include('partails/footer'); %>
    <!-- footer section -->
  </div>
	<%- include('partails/foot'); %>