	<%- include('../partails/head.ejs'); %>
<body>
  <div class="hero_area">
    <!-- header section strats -->
   	<%- include('../partails/header.ejs'); %>
    <!-- end header section -->
  </div>

  <!-- welcome section -->
  <section class="container mt-5 pt-3">
		content here
  </section>
  <!-- end welcome section -->

  <!-- end contact section -->
  <div class="footer_bg">
    <!-- info section -->

		<%- include('../partails/info'); %>
    <!-- end info_section -->

    <!-- footer section -->


		<%- include('../partails/footer.ejs'); %>
    <!-- footer section -->
  </div>
			
	<%- include('../partails/foot.ejs'); %>